[type="radio"]{
    display: none;
  }
  
  #slider{
    margin: 0 10%;
    height: 25vw;
    width: 80%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
  }
  
  #slider label{
    background-color: transparent;
    margin: auto;
    width: 180px;
    height: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  .slide-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slide-cont h4{
    margin: 10px 0 10px;
}
  .slide-cont .px-2{
    width: 100%;
    font-size: 15px;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    opacity: .5;
    transform: translate3d(-210% , 0, -200px);
  }
  #s1:checked ~ #slide4 .slide-cont img, #s2:checked ~ #slide5 .slide-cont img,
  #s3:checked ~ #slide1 .slide-cont img, #s4:checked ~ #slide2 .slide-cont img,
  #s5:checked ~ #slide3 .slide-cont img{
    width: 8em;
    height: 8em;
  }
  #s1:checked ~ #slide4 .slide-cont h4, #s2:checked ~ #slide5 .slide-cont h4,
  #s3:checked ~ #slide1 .slide-cont h4, #s4:checked ~ #slide2 .slide-cont h4,
  #s5:checked ~ #slide3 .slide-cont h4{
    font-size: 18px;
  }


  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    opacity: .8;
    transform: translate3d(-115%, 0, -100px);
  }
  #s1:checked ~ #slide5 .slide-cont img, #s2:checked ~ #slide1 .slide-cont img,
  #s3:checked ~ #slide2 .slide-cont img, #s4:checked ~ #slide3 .slide-cont img,
  #s5:checked ~ #slide4 .slide-cont img{
    width: 10em;
    height: 10em;
  }
  #s1:checked ~ #slide5 .slide-cont h4, #s2:checked ~ #slide1 .slide-cont h4,
  #s3:checked ~ #slide2 .slide-cont h4, #s4:checked ~ #slide3 .slide-cont h4,
  #s5:checked ~ #slide4 .slide-cont h4{
    font-size: 21px;
  }
  

  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5{
    transform: translate3d(0 , 0, 0);
  }
  #s1:checked ~ #slide1 .slide-cont img, #s2:checked ~ #slide2 .slide-cont img,
  #s3:checked ~ #slide3 .slide-cont img, #s4:checked ~ #slide4 .slide-cont img,
  #s5:checked ~ #slide5 .slide-cont img{
    width: 12em;
    height: 12em;
  }
  #s1:checked ~ #slide1 .slide-cont h4, #s2:checked ~ #slide2 .slide-cont h4,
  #s3:checked ~ #slide3 .slide-cont h4, #s4:checked ~ #slide4 .slide-cont h4,
  #s5:checked ~ #slide5 .slide-cont h4{
    font-size: 26px;
  }
  

  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    opacity: .8;
    transform: translate3d(115% , 0, -100px);
  }
  #s1:checked ~ #slide2 .slide-cont img, #s2:checked ~ #slide3 .slide-cont img,
  #s3:checked ~ #slide4 .slide-cont img, #s4:checked ~ #slide5 .slide-cont img,
  #s5:checked ~ #slide1 .slide-cont img{
    width: 10em;
    height: 10em;
  }
  #s1:checked ~ #slide2 .slide-cont h4, #s2:checked ~ #slide3 .slide-cont h4,
  #s3:checked ~ #slide4 .slide-cont h4, #s4:checked ~ #slide5 .slide-cont h4,
  #s5:checked ~ #slide1 .slide-cont h4{
    font-size: 21px;
  }
  

  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    opacity: .5;
    transform: translate3d(210% , 0, -200px);
  }
  #s1:checked ~ #slide3 .slide-cont img, #s2:checked ~ #slide4 .slide-cont img,
  #s3:checked ~ #slide5 .slide-cont img, #s4:checked ~ #slide1 .slide-cont img,
  #s5:checked ~ #slide2 .slide-cont img{
    width: 8em;
    height: 8em;
  }
  #s3:checked ~ #slide5 .slide-cont h4, #s4:checked ~ #slide1 .slide-cont h4,
  #s1:checked ~ #slide3 .slide-cont h4, #s2:checked ~ #slide4 .slide-cont h4,
  #s5:checked ~ #slide2 .slide-cont h4{
    font-size: 18px;
  }



  /* ---------------------------------------- Responsive Design ------------------------------------------------------- */

  @media (max-width:1050px){
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    opacity: .5;
    transform: translate3d(-180% , 0, -200px);
  }


  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    opacity: .8;
    transform: translate3d(-90%, 0, -100px);
  }
  

  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    opacity: .8;
    transform: translate3d(90% , 0, -100px);
  }
  

  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    opacity: .5;
    transform: translate3d(180% , 0, -200px);
  }
  }


  @media (max-width:880px){
    #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    opacity: .5;
    transform: translate3d(-50% , 0, -200px);
  }

  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    opacity: .8;
    transform: translate3d(-95%, 0, -100px);
  }



  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    opacity: .8;
    transform: translate3d(95% , 0, -100px);
  }


  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    opacity: .5;
    transform: translate3d(50% , 0, -200px);
  }
  }

  


  @media (max-width:600px){
    #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    opacity: .3;
    transform: translate3d(-50% , 0, -200px);
  }
  #s1:checked ~ #slide4 .slide-cont h4, #s2:checked ~ #slide5 .slide-cont h4,
  #s3:checked ~ #slide1 .slide-cont h4, #s4:checked ~ #slide2 .slide-cont h4,
  #s5:checked ~ #slide3 .slide-cont h4{
    font-size: 15px;
  }


  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    opacity: .7;
    transform: translate3d(-85% , 0, -100px);
  }
  #s1:checked ~ #slide5 .slide-cont h4, #s2:checked ~ #slide1 .slide-cont h4,
  #s3:checked ~ #slide2 .slide-cont h4, #s4:checked ~ #slide3 .slide-cont h4,
  #s5:checked ~ #slide4 .slide-cont h4{
    font-size: 18px;
  }


  #s1:checked ~ #slide1 .slide-cont h4, #s2:checked ~ #slide2 .slide-cont h4,
  #s3:checked ~ #slide3 .slide-cont h4, #s4:checked ~ #slide4 .slide-cont h4,
  #s5:checked ~ #slide5 .slide-cont h4{
    font-size: 22px;
  }
  

  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    opacity: .7;
    transform: translate3d(85% , 0, -100px);
  }
  #s1:checked ~ #slide2 .slide-cont h4, #s2:checked ~ #slide3 .slide-cont h4,
  #s3:checked ~ #slide4 .slide-cont h4, #s4:checked ~ #slide5 .slide-cont h4,
  #s5:checked ~ #slide1 .slide-cont h4{
    font-size: 18px;
  }
  

  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    opacity: .3;
    transform: translate3d(50% , 0, -200px);
  }
  #s3:checked ~ #slide5 .slide-cont h4, #s4:checked ~ #slide1 .slide-cont h4,
  #s1:checked ~ #slide3 .slide-cont h4, #s2:checked ~ #slide4 .slide-cont h4,
  #s5:checked ~ #slide2 .slide-cont h4{
    font-size: 15px;
  }
  }



  @media (max-width:450px){
    #s1:checked ~ #slide4, #s2:checked ~ #slide5,
    #s3:checked ~ #slide1, #s4:checked ~ #slide2,
    #s5:checked ~ #slide3{
      opacity: .1;
      transform: translate3d(-50% , 0, -200px);
    }

    #s1:checked ~ #slide5, #s2:checked ~ #slide1,
    #s3:checked ~ #slide2, #s4:checked ~ #slide3,
    #s5:checked ~ #slide4{
      opacity: .8;
      transform: translate3d(-70% , 0, -100px);
    }


    #s1:checked ~ #slide2, #s2:checked ~ #slide3,
    #s3:checked ~ #slide4, #s4:checked ~ #slide5,
    #s5:checked ~ #slide1{
      opacity: .8;
      transform: translate3d(70% , 0, -100px);
    }
    

    #s1:checked ~ #slide3, #s2:checked ~ #slide4,
    #s3:checked ~ #slide5, #s4:checked ~ #slide1,
    #s5:checked ~ #slide2{
      opacity: .1;
      transform: translate3d(50% , 0, -200px);
    }
  }



  @media (max-width:350px){
    #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    transform: translate3d(-50% , 0, -200px);
  }

  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    transform: translate3d(-60% , 0, -180px);
  }
  

  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    transform: translate3d(60% , 0, -180px);
  }
  

  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    transform: translate3d(50% , 0, -200px);
  }
}

@media screen and (max-width:450px){
  .slide-cont{
    width: 100px;
  }
}



@media (max-width:600px){
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    transform: translate3d(-50% , 0, -200px);
  }


  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    transform: translate3d(-70% , 0, -100px);
  }


  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    transform: translate3d(70% , 0, -100px);
  }

  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    transform: translate3d(50% , 0, -200px);
  }
}



@media screen and (max-width:350px){
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3{
    transform: translate3d(-45% , 0, -200px);
  }

  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4{
    transform: translate3d(-55% , 0, -180px);
  }

  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1{
    transform: translate3d(55% , 0, -180px);
  }


  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2{
    transform: translate3d(45% , 0, -200px);
  }
}